{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <!-- JavaScript -->
    <script src="{% static 'webapp/Chart.min.js' %}"></script>
    <script src="{% static 'webapp/pages.js' %}"></script>
    <script src="{% static 'webapp/jquery-1.11.3.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'webapp/base.css' %}">


    <title>Torr-Fuktig-Våt</title>
</head>
<body>

    <div align="center">
        <h1>Torr-Fuktig-Våt</h1>
        <h2>Din våta dröm!</h2>
        <h2>Med vår nya ultimate produkt kommer du aldrig mer att behöva känna stress, ångest eller lidande!</h2>
        <h2>Torr-Fuktig-Våt är ett brandlarm, blomstervattnare och mycket mycker mer!</h2>
    </div>
    <div class="canvas-wrapper">
        <canvas id="canvas" class="canvas" width="800" height="400"></canvas>
    </div>

</body>
</html>
